* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Global */
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
}

/* Menu di navigazione */
nav ul {
  list-style: none;
  position: fixed;
  right: 50px;
  top: 20px;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  list-style: none;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  margin: 5px;
  font-size: 1.5em;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

li:hover {
  color: #000000;
  box-shadow: 1px 1px 8px gray;
}

li:active {
  background-color: lightgray;
  box-shadow: 1px 1px 8px gray;
}

/* layout */
section {
  height: 100vh;
  position: relative;
}

section img{
  width: 100%;
}

.item {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slogan {
  font-size: 6vh;
  text-transform: uppercase;
  color: #ffff00;
}

.slogan.green {
  color: #008000;
}

.prima {
  background-color: #ff0000;
}

.seconda {
  background-color: #008000;
}

.terza {
  background-color: #ffff00;
}